body {
    font-family:Cascadia Code;
    margin: 0;
    padding: 0;
    font-size: larger;
    background-color: lavender;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px; 
    width: 100%;
    padding: 20px;
    
}

.content {
    display: none; 
    margin-top: 10px;
    border: 1px solid #ccc;
    padding-right: 10px;
    text-align: center;
    background-color: pink;
    width: 450px;
}

.clickable {
    cursor: pointer;
    color: black;
    padding-bottom: 5px;
    width: 250px;
    height: 50px;
    transition: transform 0.3s ease;

}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li:hover
{
    background-color: burlywood;
    width: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}

.carousel {
    width: 100%;
    position: relative;
    overflow:hidden;
}

.carousel-images {
    display: flex;
    animation: scroll 20s linear infinite;
}

.carousel-images img {
    width: 1000px;
    height: 1000px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-215%); 
    }
}

.description {
    position: absolute;
    top: 20%;
    left: 10%;
    color: black;
}

section {
    padding: 10px;
    
}

section:hover{
    background-color: thistle;
}

.Contact
{
    padding-left: 20px;
}

.Contact:hover{
    background-color: thistle;
}

label 
{
    display: block;
    margin: 10px 0 5px;
}

input[type="text"], input[type="email"], input[type="message"],select 
{
    width: 200px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: darkblue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
}
button[type="submit"]:hover {
    background-color: blue;
}


.box {
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
    margin: 10px; 
    background-color: rosybrown;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.socials a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}